<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<script src="vue.js"></script>
	<style>
		.red {
			border: 1px solid red;
		}
	</style>
</head>
<body>
	<header id="header">
		Детализация:
		<input
			type="button"  
			v-for="(value, key, index) in btns"
			v-on:click="myFunc(key)" 
			v-bind:value="value" 
			v-bind:class="{red: current == key}"
			v-bind:disabled="index > layer || current == key"
		>
		<input v-model="layer" />
		{{ current }}
	</header>
	<article></article>
	<footer>
		<input v-model="dbegin" />
		<input v-model="dend" />
		Срок: {{ dbegin }} - {{ dend }} = {{ d }} часов
	</footer>
	<script src="script.js"></script>
</body>
</html>